# ====================================
#  Copyright (C) 2020 Daniel M Tyler.
#  This file is part of Minesweeper.
# ====================================

# Temp files.
*~

# Windows folder config.
**/desktop.ini
